## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Test results
TestResults/
[Tt]est[Rr]esult*/

## Node
node_modules/
npm-debug.log*

## OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
.BIN/
.DS_Store

## Publish & Installers
publish/
SNTerm-Setup.exe
SNTerm-portable.zip
*.zip

## User session backups & dumps
*.mxtsessions
Screenshot*.png
